<% @carted.each do |cart| %>
<p><%= cart.product.name %></p>
<p><%= number_to_currency(cart.product.price) %></p>
<img class="img-responsive" src="<%= cart.product.images.first.url %>" alt="coffee picture" />
<% end %>

<%= form_tag '/orders', method: :post do %>
<div class="form-group">
  <%= hidden_field_tag :subtotal, @subtotal, class: "form-control" %>
</div>
<div class="form-group">
  <%= hidden_field_tag :tax, @tax, class: "form-control" %>
</div>
<div class="form-group">
  <%= hidden_field_tag :total, @total, class: "form-control" %>
</div>
<div>
<%= button_tag 'Order Now', class: "btn btn-default" %>
</div>
<% end %>