   <div class="row">
     <div class="col-lg-12">
       <h1 class="text-center">Coffee</h1>
       <% @products.each do |product| %>
       <div class="col-lg-4">
        <div class="well well-lg">
            <h3><a href="/products/<%= product.id %>"><%= product.name %></a></h3>
            <p><i>by</i> <%= product.supplier.name %></p>
            <img class="img-responsive img-circle" src="<%= product.image %>" alt="coffee picture" />
            <button type="button" class="btn btn-info"><%= number_to_currency(product.price) %></button>
            <p><%= product.description %></p>
            <button type="button" class="btn btn-block"><span class="glyphicon glyphicon-ok"></span> Buy Me</button>
        </div>
      </div>
      <% end %>      
    </div>
  </div>

 