<h1>New Image</h1>
<%= form_tag '/images', method: :post do %>

<div class="form-group">
  <%= label_tag :url %>
  <%= text_field_tag :url, nil, class: "form-control", placeholder: "Image URL" %>
</div>

<div class="form-group">
  <%= label_tag :product_id %>
  <%= text_field_tag :product_id, nil, class: "form-control", placeholder: "Product ID" %>
</div>

<div>
  <%= button_tag 'Add New Image', class: "btn btn-defaul" %>
</div>
<% end %>